.side-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 50px;

  .count {
    margin-top: -10px;
    color: white;
  }

  ion-button.action-button {
    display: flex !important;

    margin: 0 auto 3px auto !important;
    width: 36px !important;
    height: 36px !important;

    --margin-inline-start: 0;
    --margin-inline-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    min-height: 36px;
    --padding-top: 0;
    --padding-bottom: 0;
    --max-height: 36px;
    --width: 36px;
    --height: 36px;
    --border-radius: 50%;
    --padding-start: 0;
    --padding-end: 0;
    --background: #585c62;
    --color: white;

    align-items: center;
    justify-content: center;

    &::part(native) {
      padding: 0 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 36px !important;
      height: 36px !important;
      border-radius: 50% !important;
    }

  }
  @media screen and (max-width: 800px){
    //--background-color:none;
  }
}

ion-icon {
  font-size: 24px;
  margin: 0 !important;
  width: 24px;
  height: 24px;
  transform: none !important;
  @media screen and (max-width: 800px){
    font-size: 15px;
  }
}

.button-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  font-weight: bold;
}
