
<div class="side-actions">
  <div class="button-count">
    <ion-button class="action-button" (click)="toggleLike()" fill="clear">
      <ion-icon
        slot="icon-only"
        [name]="getLikeIcon()"
        [color]="isLikedByUser() ? 'danger' : ''"
      ></ion-icon>
    </ion-button>
    <div class="count">{{ reel?.likesCount }}</div>
  </div>

  <div class="button-count">
  <ion-button class="action-button" fill="clear" (click)="openModalComments()">

    <ion-icon slot="icon-only" [name]="reel?.commentsCount > 0 ? 'chatbubble' :
                  'chatbubble-outline'"></ion-icon>
  </ion-button>
    <div class="count">{{ reel?.commentsCount }}</div>

  </div>
  <ion-button class="action-button"  fill="clear" (click)="shareVideo($event)">
    <ion-icon name="arrow-redo-outline" color="light"></ion-icon>
  </ion-button>
  <ion-button class="action-button" fill="clear" (click)="openModalAdditionalActions($event)">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-button>
  <ion-button class="action-button" fill="clear" (click)="toggleMute()">
    <ion-icon slot="icon-only" [name]="isMuted ? 'volume-mute' : 'volume-high'"></ion-icon>
  </ion-button>
</div>
