:host {
  display: block;
  width: 100%;
}

.description-section {
  width: 100%;
  padding: 15px;
  text-align: left;

  .desc-input {
    --background: #25262b;
    --color: white;
    border-radius: 12px;
    margin-bottom: 5px;

    & ion-textarea {
      --min-height: 150px;
    }

  }
}

.counter {
  text-align: left;
  font-size: 12px;
  color: #999;
}
