
.share-container {
  background: var(--light-black);
  color: white;
  padding: 10px 16px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .drag-handle {
    width: 40px;
    height: 4px;
    background: #333;
    border-radius: 2px;
    margin-bottom: 20px;
  }

  .share-grid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @media screen and (max-width: 480px){
      justify-content: space-between;
    }
  }

  .share-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .icon-circle {
      width: 56px;
      height: 56px;
      background: #0f0808;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26px;
    }

    ion-label {
      font-size: 12px;
      color: white;
    }
  }
}
