@import "../../../theme/todo-theme";

:host {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.auth-page {
  &__header {
    background: var(--main);
  }

  &__toolbar {
    --border-width: 0 !important;
    --background: var(--main);
    padding: 16px 0 0 16px;
  }

  &__icon {
    color: var(--white);
    font-size: 1.5rem;
  }

  &__content {
    --background: var(--main);
    --padding-start: 16px;
    --padding-end: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__form {
    padding-top: 33px;
    flex-grow: 1;
  }

  &__title {
    color: var(--white);
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
    letter-spacing: -0.03em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 24px;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__input-container-label {
    color: var(--white);
    font-weight: 600;
    font-size: 0.938rem;
    margin-bottom: 8px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  &__input {
    color: var(--white);
    caret-color: #6759FF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: 100%;
    height: 2.75rem;
    border: 1px solid var(--white);
    background: var(--main);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      height: 1.063rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      font-weight: 600;
      font-size: 14px;
      outline: none;
    }
  }
}

.logo {
  width: 7.188rem;
  height: 6.625rem;
  margin: 0 auto;
  display: flex;
}

.button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  --background: var(--white);
  color: var(--main);
  padding-inline-start: 0;
  padding-inline-end: 0;
  --border-color: unset;
}

.registration-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 15px;
  padding-top: 10vw;
  text-align: center;
  padding-bottom: 5vw;
  color: var(--white);

  span {
    text-decoration: underline;
    font-weight: 700;
  }
}
