.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 100%;
  max-height: 416px;
  margin: 20px;
  border: 2px dashed rgb(56, 81, 173);
  border-radius: 40px;
  background: #1a1b1f;
  cursor: pointer;
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.98);
    background: #25262b;
  }
}

.upload-box {
  text-align: center;
  padding: 20px;

  .upload-btn {
    --background: #2c2d31;
    --border-radius: 15px;
    --color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
    height: 54px;
    width: 175px;
  }

  .upload-info {
    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem;
      margin: 5px 0;
      line-height: 1.4;
    }
  }
}

ion-content {
  --background: #121212;
  --color: white;
}

ion-toolbar {
  --background: #222428;
  --color: white;
}

.description-section {
  padding: 15px;

  .desc-input {
    --background: #1a1b1f;
    --color: white;
    border-radius: 12px;
    margin-bottom: 15px;
  }
}

.preview-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .delete-icon-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    z-index: 20;
    font-size: 20px;
  }

  .preview {
    //position: relative;
    width: 280px;
    height: 416px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  }

  .change-hint {
    margin-top: 15px;
    color: var(--ion-color-primary);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
