.upload-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 280px;
  height: 380px;
  margin: 20px 0;
  border: 1px dashed rgb(56, 81, 173);
  border-radius: 20px;
  background: #1a1b1f;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  text-align: center;


  ion-spinner {
    width: 100px;
    height: 100px;
  }


}

.dowload-text {
  line-height: 1.4;
}
.footer-button {
  min-width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

form.mobile {
  height: 100%;

  .upload-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

}

.upload-box {
  text-align: center;
  padding: 20px;

  .upload-btn {
    --background: var(--bg-button);
    --background-activated: #d66c1a;
    --background-hover: #dc4b11;
    --border-radius: 15px;
    --color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
    height: 54px;
    width: 175px;
  }

  .upload-info {
    p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem;
      margin: 5px 0;
      line-height: 1.4;
    }
  }
}

ion-spiner {
  display: block;
}

ion-content {
  --background: var(--light-black);
  --color: white;
}

ion-toolbar {
  --background: #222428;
  --color: white;

  & ion-icon {
    font-size: 25px;
  }

}


.icon-exit{
  width: 40px;
  height: 40px;
}

.error {
  color: red;
  padding: 0 8px;
}

.mobile {
  position: relative;
  height: 100%;


}


.preview-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  .action-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 5px;
    bottom: 7px;
    width: calc(100% - 14px);
    z-index: 2000;
  }

  .play-btn {
    //position: absolute;
    //bottom: 7px;
    //left: 20px;
    width: 26px;
    height: 26px;
    //transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 3px;
    z-index: 20000;
    pointer-events: none;
  }

  .description-icon {
    width: 26px;
    height: 26px;
    padding: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }

  .mute-btn {
    position: absolute;
    bottom: 72px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 20000;
  }

  .delete-icon-btn {
    color: var(--bg-button);
    padding: 3px;
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0;
    z-index: 20000;
    font-size: 20px;
  }

  .progress-container {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    padding: 0 10px 5px 10px;
    z-index: 20000;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  }

  .preview {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: contain;
    overflow: hidden;

  }

}

.custom-progress {
  --progress-background: var(--bg-button);
  //--progress-color: #4caf50;
  height: 8px;
  border-radius: 8px;
  width: calc(100% - 10px);
}


.seek-slider {
  width: 100%;
  height: 2px;
  cursor: pointer;
  accent-color: var(--bg-button);

  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  appearance: none;
  outline: none;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }
}

ion-button {
  --color: white;

}



.processing-text {
  color: #c3cdd7b3;
}

.reels-toolbar{
  ion-buttons{
    justify-content: space-between;
    ion-button:last-child {
      --color:var(--bg-button)
    }
  }
}

.mobile-texarea{
  --background: #222428;
  --border-radius: 20px;
  --padding-start: 10px;
  font-size: 22px;
}

.modal-description{
 .counter {
   display: block;
   width: 100%;
   text-align: right;
 }

  ion-button {
    font-size: 25px ;
  }

}
