:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

.story-avatar-container {
  position: relative;
  display: inline-block;

  .progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .avatar-wrapper {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    ion-avatar {
      width: 53px;
      height: 53px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .add-story-container {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22307e;
    color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    right: 2px;
    bottom: 0;

    &__add {
      font-size: 16px;
    }
  }
}

.title-story {
  font-family: "Roboto Flex";
  font-size: 12px;
  width: 80px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
