@import "../../../theme/todo-theme";

:host {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.registration-page {

  &__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__input {
    color: var(--white);
    caret-color: #6759FF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: 100%;
    height: 2.75rem;
    border: 1px solid var(--white);
    background: var(--main);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      height: 1.063rem;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      font-weight: 600;
      font-size: 14px;
      outline: none;
    }
  }

  &__toolbar {
    --border-width: 0 !important;
    --background: var(--main);
    padding: 16px 0 0 16px;
  }

  &__icon {
    color: var(--white);
    font-size: 1.5rem;
  }

  &__content {
    --background: var(--main);
    --padding-start: 16px;
    --padding-end: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__form {
    padding-top: 33px;
    flex-grow: 1;
  }

  &__title {
    color: var(--white);
    letter-spacing: -0.03em;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
  }

  &__info {
    color: #D1D3D4;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}

.button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  --background: transparent;
  color: var(--white);
  padding-inline-start: 0;
  padding-inline-end: 0;
  --border-color: unset;
  border: 2px solid var(--white);
  border-radius: 12px;
  margin-bottom: 25px;
}

.error {
  font-family: "Inter", sans-serif;
  color: var(--error);
  font-weight: bold;
  text-align: center;
}

.error-input {
  border: 1px solid var(--error);
}
