@let windowSize = resizeService.currensSizeOfScreen$ | async;
<ion-content [fullscreen]="true" scrollY="false" class="reels-content bg-black">
  @if (showSpinner) {
    <ion-spinner></ion-spinner>
  }
  @if (windowSize > 800) {

    <div class="ion-text-end">
      <ion-button class=" reels-create submit-button" (click)="openCreateReels(null)">Создать</ion-button>
    </div>
  }

  <div class="reals-container">

    <div class="video-container">
      <div #swiperRef class="swiper-container">
        <div class="swiper-wrapper">
        </div>
        <app-reels-description [reel]="currentReel" [userId]="userId"></app-reels-description>
      </div>
      @if (reels.length === 0) {
        <div class="empty-reels">Ваше видео будет первым</div>
      }
      <app-reels-actions [reel]="currentReel" [activeIndex]="currentActiveIndex"
                         (openComments)="openComments()" (togleSound)="isMuted=$event"></app-reels-actions>

    </div>
    @if (windowSize > 1280) {
      <div class="comments-container ">
        <app-reels-comments [reel]="currentReel"></app-reels-comments>
      </div>
    }

  </div>
  <app-reels-tabs [reel]="currentReel" (createReels)="openCreateReels($event)"></app-reels-tabs>
</ion-content>
