
.content {
  background-color: black;
}

input {
  height: 0;
  width: 0;
}

ion-spinner {
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 100px);
  z-index: 200000;
  background-color: transparent;
  color: tan;
  width: 100px;
  height: 100px;
}

.swiper-container {
  display: block;
  height: var(--video-height);
  width:var(--video-width);
  max-width: var(--video-width);
  @media (max-width: 480px) {
    height: 100vh;
    .reels-video {
      width: 100%;
      height: 100vh;
    }

    .swiper-slide {
      background: #000;
    }
  }
}

.reals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 40px;
  @media screen and (max-width: 480px){
    padding-top: 0;
    background: transparent;
  }
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

app-reels-actions {
  position: absolute;
  right: 50%;
  transform: translate(calc(-50% + 345px), calc(-50% + 70px));
  top:50%;
  z-index: 100;
  @media screen and (max-width: 480px) {
    right:0px;
    transform: translateY(-50%);
    top:50%;
  }
}




.bg-black {
  background-color: #000 !important;
}
