
.content {
  background-color: black;
}

.reels-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  height: 0;
  width: 0;
}

.blur-bg {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

ion-spinner {
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 100px);
  z-index: 200000;
  background-color: transparent;
  color: tan;
  width: 100px;
  height: 100px;
}


.reals-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  height: 100%;
  padding: 40px 0;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    height: calc(100% - 56px);
    justify-content: normal;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
    //height: 100%;
    height: calc(100% - 56px);
    background: transparent;
    //overflow: hidden;
  }
}

.comments-container {
  height: calc(100% - 76px);
  width: 40%;
  max-height: var(--video-height);
  border-radius: 20px;
  background-color: var(--bg-grey);

  & app-reels-comments-inner {
    display: block;
    height: 100%;
    max-height: calc(var(--video-height) - 76px)
  }
}

.video-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media screen and (max-width: 800px) {
    width: 100%;
    //height: auto;
  }
}
.reels-create{
  height: 40px;
  width: 100px;
 margin-top: 16px;
  margin-right: 16px;
  min-height: 30px;
}

app-reels-actions {
  position: absolute;
  right: 50%;
  transform: translate(calc(-50% + 310px), calc(-50% - 120px));
  top: 50%;
  z-index: 100;
  @media screen and (max-width: 480px) {
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
  }
}

.comments-container {
  padding: 10px;
  & h2 {
    padding-top: 10px;
    padding-left: 16px;
  }
& ion-item {

  --background: transparent;
  --color: white;
  --border: none;
  --border-color:transparent;

  div {
    color: white !important;
    font-weight: 600;
    margin-bottom: 3px;
  }

  p {
    color: #b0b0b0 !important;
  }
}
}

app-reels-tabs {

  display: none;
  height: 0;
  @media screen and (max-width: 800px) {
    display: block;
    height: 55px;
  }
}


.bg-black {
  background-color: #000 !important;
}

.empty-reels{
  height: 100%;
}
