.description-container {
  padding: 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  width: 100%;

}

.views {
  padding-left: 10px;
}

.description-text {

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  line-height: 1.4em;
  max-height: 1.4em;
  padding: 5px;
  text-overflow: ellipsis;
  @media screen and (max-width: 480px) {
    width: calc(100% - 60px);
    background: none;
    backdrop-filter: none;
  }

  &.expanded {
    display: block;
    -webkit-line-clamp: unset;
    //padding: 20px 20px;
    max-height: none;
    overflow: visible;

  }
}

.video-info {
  position: absolute;
  width: var(--video-width);
  max-width: 100%;
  background: rgba(0, 0, 0, 0.4);
  //backdrop-filter: blur(0);
  left: 0;
  border-radius: 20px 20px 0 0;
  color: white;
  z-index: 10;
  bottom: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;

  &.expended {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;


  }

  h3 {
    padding-left: 10px;
  }

}
