.description-container {
  padding: 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
  width: 100%;

}

.views {
  padding-left: 10px;
}

.description-text {

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  line-height: 1.4em;
  max-height: 1.4em;
  padding: 5px;
  text-overflow: ellipsis;
  @media screen and (max-width: 480px) {
    width: calc(100% - 60px);
    background: none;
    backdrop-filter: none;
  }

  &.expanded {
    display: block;
    -webkit-line-clamp: unset;
    //padding: 20px 20px;
    max-height: none;
    overflow: visible;

  }
}

.video-info {
  position: absolute;
  width: var(--video-width);
  max-width: 100%;
  background: rgba(0, 0, 0, 0.4);
  //backdrop-filter: blur(0);
  left: 0;
  border-radius: 20px 20px 0 0;
  color: white;
  z-index: 10;
  bottom: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  margin: 0;

  &.expended {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;


  }

  h3 {
    display: block;
    padding-left: 10px;
    margin: 0;
  }

}

.user-data {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 5px;

  ion-button {
    //padding: 5px;
    min-height: 40px;
    --background-activated: transparent;
    --background-hover: transparent;
    --border-radius: 16px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: white;
    --color: white;
    --min-height: 40px;
    --padding-top: 6px;
    --padding-bottom: 6px;
    --background: transparent;
  }
}
