

@import "../../../theme/todo-theme";

:host {
  background: var(--color-background-light) !important;
}

ion-content {
  --background: var(--color-background-light) !important;
  height: calc(100% - 4.0625rem);
}

.pdf-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__text {
    padding: 0 10px 0 5px;
    font-family: $font-family-roboto;
    color: var(--ion-text-pdf-color);
  }
}

.icon {
  color: #979797;
  height: 30px;
  width: 30px;
}

.order-detail-toolbar {
  height: 4.0625rem;
  display: flex;
  --background: var(--white);

  &:last-of-type {
    --border-width: 0;
  }
}

.order-detail-toolbar-button {
  padding-left: $padding-start;
}

.order-detail-toolbar-title {
  font-size: 21px;
  padding-inline-start: 3.875rem;
  font-family: $font-family-roboto;
  font-weight: bold;
}

.container {
  padding: 0 15px;

  .title {
    padding-top: 15px;
    font-family: $font-family-roboto;
    font-size: 17px;
    font-weight: 600;
    color: #1C1F34;
    background: var(--color-background-light);
  }

  .sub-title {
    padding: 10px 0;
    font-family: $font-family-roboto;
    font-size: 15px;
    font-weight: 500;
    color: #1C1F34;
    text-transform: capitalize;
    background: var(--color-background-light);
  }

  .container-details {
    background: #ffffff;
    border-radius: 12px;
    padding: 5px 15px 15px 15px;
    color: #1C1F34;
    font-family: $font-family-roboto;
    font-weight: 500;
    font-size: 16px;

    &__comment {
      padding: 15px;
    }

    &__address {
      padding: unset;
      display: flex;
    }

    &__files {
      display: flex;
      padding: 15px;
      gap: 10px;
      flex-direction: column;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #EBEBEB;
      padding: 10px;
      align-items: center;

      &:last-child {
        border-bottom: unset;
      }
    }

    &__title {
      font-weight: 600;
    }

    &__item-comment {
      padding: 10px;
    }
  }

  .photo-container {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    color: #1C1F34;
    font-family: $font-family-roboto;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;

    &__content {
      display: flex;
      width: 100%;
      padding-bottom: 10px;
    }

    &__details {
      display: flex;
      margin-left: 16px;
      flex-direction: column;
      justify-content: space-evenly;
      width: 70%;
    }

    &__fio {
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &__type {
      font-size: 14px;
      color: #6C757D;
      font-weight: 500;
    }

    &__no-photo {
      width: 80px;
      height: 80px;
    }

    &__photo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__rating {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &__icon {
      width: 30px;
      height: 30px;
    }

    &__like-text {
      font-weight: 600;
      color: #2dd36f;
    }

    &__dislike-text {
      font-weight: 600;
      color: var(--error);
    }

    &__subscribe-text {
      font-weight: 600;
      font-size: 14px;
      color: red;
    }

    &__dislike {
      margin-top: 15px;
    }
  }
}
.details-with-count {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .count-container {
    display: flex;
    gap: 5px;

    &__count {
      font-size: 15px;
      font-family: $font-family-roboto;
    }

    &__icon {
      font-size: 18px;
    }
  }
}

.navigate-button {
  --background: var(--main);
  --border-color: unset;
  font-family: $font-family-roboto;
  font-weight: 500;
  --color: var(--white);
  margin-inline-end: unset;
  margin-top: unset;
  margin-bottom: unset;
  --border-radius: 12px;

  &__icon {
    font-size: 25px;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
}

.default-button {
  --background: var(--main);
  --border-color: unset;
  font-family: $font-family-roboto;
  font-weight: 500;
  --color: var(--white);
  width: 100%;
  padding: 0 15px;

  &--error {
    --background: var(--error);
  }
}

.phone-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .title {
    padding-top: unset;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

.btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.rating-stars {
  display: flex;
  justify-content: center;
}

.star-icon {
  font-size: 16px;
  margin: 0 2px;
}

.rating-value {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-dark);
}
