@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?mmw6yj');
  src:  url('icomoon.eot?mmw6yj#iefix') format('embedded-opentype'),
    url('icomoon.ttf?mmw6yj') format('truetype'),
    url('icomoon.woff?mmw6yj') format('woff'),
    url('icomoon.svg?mmw6yj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e900";
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-quiz:before {
  content: "\e902";
}
.icon-handshake:before {
  content: "\e903";
}
.icon-subscribe:before {
  content: "\e904";
}
.icon-log-out:before {
  content: "\e905";
}
.icon-contacts:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e908";
}
.icon-money_bag:before {
  content: "\e909";
}
.icon-list_alt:before {
  content: "\e90a";
}
.icon-manage:before {
  content: "\e90b";
}
.icon-description:before {
  content: "\e90c";
}
.icon-reviews:before {
  content: "\e90d";
}

.icon-icon-list:before {
  content: "\e90e";
}
