@use 'swiper/css';
@use 'swiper/css/virtual';

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  width: 100%;
  height: var(--video-height) px;
  display: block;
  background: #000;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;

  @media screen and (max-width: 480px) {
    width: 100vw;
    height: calc(100vh - 79px);
    border-radius: 0;
  }
}

.swiper-container {
  display: block;
  position: relative;
  width: 100%;
  height: var(--video-height);
  max-width: var(--video-width);
  overflow: hidden;
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 100vh;
    max-width: none;
  }
}


.input-container {
  .native-input.sc-ion-input-ios {
    padding-left: 10px !important;
  }
}



.reels-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
  @media screen and (max-width: 480px) {
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    object-position: center;
  }
}

.main-blur-effect {
  filter: blur(10px) brightness(0.7);
  transition: filter 0.3s ease-in-out, brightness 0.3s ease-in-out;
  pointer-events: none;
}

ion-toolbar.reels-toolbar, ion-item.custom-radio-item {
  --background: var(--light-black);
  --color: white;
}

ion-content.reels-content, ion-list.reels-list {
  --background: black;
  --color: white;
}

ion-toolbar.reels-toolbar ion-button {
  --color: white;
}

.custom-modal-height {
  --height: 90vh;
  --border-radius: 20px;
  align-items: end;
}

.center-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &::part(content) {
    height: auto;
    max-height: 40vh;
    width: 90%;
    border-radius: 12px;
  }
}

.share-modal {
  align-items: flex-end;
  --width: 100%;
  --max-width: 100%;
  --height: 160px;
  --border-radius: 20px 20px 0 0;

}

.video-progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
  pointer-events: none;
}

.video-progress-bar {
  height: 100%;
  width: 0%;
  background: #e0e0e0;
  transition: width 0.1s linear;
  box-shadow: 0 0 5px rgba(85, 84, 84, 0.5);
}

.custom-fixed-modal {
  align-items: flex-end;
  --width: 100%;
  --max-width: 100%;
  --border-radius: 20px 20px 0 0;

  &::part(content) {
    position: absolute;
    bottom: 0;
  }

  &.half {
    --height: 70%;
  }

  &.hide-detail {
    --height: 37%;
  }

  &.small {
    --height: 150px;

  }


  @media screen and (min-width: 800px) {
    --width: 50%;
  }
}





.custom-fixed-modal.mobile {
  --height: 100%;
}


.submit-button {
  --background: var(--grey);
  --background-activated: #a4a3a2;
  --background-hover: #7f7d7d;
  --color: #ffffff;

  --border-radius: 12px;
  --padding-top: 15px;
  --padding-bottom: 15px;
}

.custom-modal-height ion-modal ion-content::part(scroll) {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #1a1b1f;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--bg-button);
    border-radius: 10px;
  }
}

.report-modal {
  --height: 80%;
  align-items: flex-end;
  @media screen and (min-width: 800px) {
    --height: 55%;
  }
}

ion-radio {
  --color: #d1d1d1;
  --color-checked: var(--bg-button);


  &::part(container) {
    width: 24px;
    height: 24px;
    border: 2px solid var(--color);
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }

  &::part(mark) {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    background-color: var(--bg-button);
  }


  &.radio-checked {
    &::part(container) {
      border-color: var(--bg-button);
    }

    &::part(mark) {
      transform: scale(1);
    }
  }
}


.create-modal .footer-button {
  --background: #676060;
  --border-radius: 20px;
  --height: 40px;
  --width: 100%;
  min-height: 40px;
  margin-right: 10px;

  & button {
    --min-height: 40px;

  }
}


.reels-button::part(hover) {
  display: none;
}

ion-popover.share-popover {
  --background: #121212;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --width: 350px;
  --border: transparent;
  margin-top: 27px;
}

ion-popover.share-popover::part(content) {
  border-radius: 15px;
  border: 1px solid #444;
}



.custom-fixed-modal.comments {
  --vertical-align: bottom;
  &::part(content) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  ion-content {
    --padding-bottom: var(--ion-safe-area-bottom);
  }
}
