<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" *ngIf="isMobile">
    <ion-tab-button tab="map" (click)="changeTab('map')">
      <img src="assets/menu/Home.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'map'"/>
    </ion-tab-button>
    <ion-tab-button tab="addresses" (click)="changeTab('addresses')" *ngIf="user !== userModeEnum.STORE">
      <img src="assets/menu/Chat.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'addresses'"/>
      <ng-container *ngIf="countNewMessageDialogs$ | async as countNotRead">
        <ion-badge color="danger" *ngIf="countNotRead > 0">{{ countNotRead }}</ion-badge>
      </ng-container>
    </ion-tab-button>
    <ion-tab-button tab="chats" (click)="changeTab('chats')" *ngIf="user === userModeEnum.STORE">
      <img src="assets/menu/Chat.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'chats'"/>
      <ng-container *ngIf="countNotReadDialogs$ | async as countNotRead">
        <ion-badge color="danger" *ngIf="countNotRead.count > 0">{{ countNotRead.count }}</ion-badge>
      </ng-container>
    </ion-tab-button>
    <ion-tab-button tab="notifications" (click)="changeTab('notifications')">
      <img src="assets/menu/Ticket.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'notifications'"/>
      <ng-container *ngIf="countNotRead$ | async as countNotRead">
        <ion-badge color="danger" *ngIf="countNotRead.count > 0">{{ countNotRead.count }}</ion-badge>
      </ng-container>
    </ion-tab-button>
    <ion-tab-button tab="leads" (click)="changeTab('leads')">
      <img src="assets/menu/order.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'leads'"/>
      <ng-container *ngIf="countNotReadDialogsLead$ | async as countNotRead">
        <ion-badge color="danger" *ngIf="countNotRead.length > 0"><div style="height: 10px"></div></ion-badge>
      </ng-container>
    </ion-tab-button>
    <ion-tab-button tab="menu" (click)="changeTab('menu')">
      <img src="assets/menu/Profile.svg" class="tab-icon" [class.active-tab]="currentTabActive === 'menu'"/>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Необходима авторизация"
  message="Для получения полной информации пройдите авторизацию."
  [buttons]="alertButtons"
  (didDismiss)="didDismiss()"
></ion-alert>
