<ion-header>
  <ion-toolbar class="about-project-toolbar">
    <ion-buttons slot="start" class="about-project-toolbar-button">
      <ion-back-button icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left about-project-toolbar-title">О проекте</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="about-project-content">
  <div class="about-project-container">
    <p class="about-project-description">
      Профессиональный сервис для дилеров, монтажников окон и поставщиков услуг.
    </p>
    <p class="about-project-description">
      Принцип работы простой — пользователи размещают заявку на замер, монтаж или ремонт окон, а монтажники откликаются. Внутренняя система рейтингов позволяет выбрать самого профессионального исполнителя.
    </p>
  </div>
</ion-content>
