
<nav class="floating-nav">
  <ion-button class="nav-button" (click)="goTo('home')"><ion-icon name="home-outline"></ion-icon></ion-button>
  <ion-button class="nav-button"
              (click)="goTo('docs')"><ion-icon name="document-text-outline"></ion-icon></ion-button>
  <ion-button class="center-button reels-button" (click)="openCreateModal()">
    <ion-icon  name="add-circle-outline"></ion-icon>
  </ion-button>
  <ion-button class="nav-button" (click)="goTo('cart')"><ion-icon name="cart-outline"></ion-icon></ion-button>
  <ion-button class="nav-button" (click)="goTo('profile')"><ion-icon
    name="person-circle-outline"></ion-icon></ion-button>
</nav>
