
ion-icon{
  margin: 0;
}

ion-tab-bar {
  --background: #000000;
  --border: 1px solid #222;


  ion-tab-button {
    --color: #888888;
    --color-selected: #ffffff;

    --ripple-color: transparent;
  }
}

.nav-button {
  --color: #888888;
  --color-selected: #ffffff;
--background: var(--light-black);
  --ripple-color: transparent;
  --background-hover: #38393b;
  --background-hover-opacity: 1;
}

.floating-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--light-black);
  z-index: 10;
  border-top:1px solid wheat;
  padding-bottom: env(safe-area-inset-bottom);
}

.floating-nav button {
  background: var(--light-black);
  border: none;
  color: white;
  font-size: 28px;
  //opacity: 0.7;
}

.floating-nav button:active {
  opacity: 1;
  transform: scale(0.9);
}

.add-btn {
  font-size: 35px !important;
  opacity: 1 !important;
}
