@import "../../../theme/todo-theme";

.default-button {
  --background: var(--main);
  --border-color: unset;
  font-family: $font-family-roboto;
  font-weight: 500;
  --color: var(--white);
  width: 100%;

  &__response {
    height: 35px;
    font-size: 16px;
  }

  &--error {
    --background: var(--error);
  }
}

.sub-title {
  padding: 10px 0;
  font-family: $font-family-roboto;
  font-size: 15px;
  font-weight: 500;
  color: #1C1F34;
  text-transform: capitalize;
  background: var(--color-background-light);
}

.select-button {
  --background: var(--main);
  --border-color: unset;
  font-family: $font-family-roboto;
  font-weight: 500;
  --color: var(--white);
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #EBEBEB;
  border-radius: 12px;

  &:last-child {
    border-bottom: unset;
  }
}

.date {
  font-family: $font-family-roboto;
  font-size: 14px;
}

.container-details {
  color: #1C1F34;
  font-family: $font-family-roboto;
  font-weight: 500;
  font-size: 16px;

  &__text {
    font-family: $font-family-roboto;
    font-weight: 500;
    text-align: center;
    width: 100%;
  }
}

.photo-container {
  font-family: $font-family-roboto;
  color: #1C1F34;
  display: flex;

  &__details {
    display: flex;
    margin-left: 16px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__fio {
    font-size: 18px;
    font-weight: 600;
  }

  &__type {
    font-size: 14px;
    color: #6C757D;
    font-weight: 500;
  }

  &__no-photo {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__photo {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.button-container {
  display: flex;
  gap: 15px;
}

.rating-stars {
  display: flex;
}

.star-icon {
  font-size: 16px;
  margin: 0 2px;
}

.rating-value {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-dark);
}
