<ion-modal
  [isOpen]="isOpen"
  (didDismiss)="dismiss()"
  class="custom-fixed-modal half"
>
  <ng-template>

    <ion-header class="ion-no-border">
      <ion-toolbar color="dark" class="reels-toolbar">
        <ion-title>Комментарии</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="comments-content reels-content">
      @if (comments.length === 0) {
        <div class="empty">
          Комментарий нет
        </div>
      }

      <ion-list lines="none">
        @for (comment of comments;track comment.id) {
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="comment.avatar || '/assets/avatar.svg'"/>
            </ion-avatar>
            <ion-label>
              <h3>{{ comment.username }}</h3>
              <p>{{ comment.text }}</p>
            </ion-label>
          </ion-item>
        }

      </ion-list>
    </ion-content>

    <ion-footer slot="fixed">
      <ion-toolbar class="footer-toolbar">
        <div class="input-container">
          <ion-input
            autofocus
            [(ngModel)]="newCommentText"
            placeholder="Добавьте свой комментарий..."
          ></ion-input>
          <ion-button fill="clear" (click)="postComment()">
            Отправить
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>

  </ng-template>
</ion-modal>
