

.comments-content {
  --background: var(--light-black);
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end:10px;
}

.empty {
  padding-left: 10px;
}

.footer-toolbar {
  --background: #1e1e1e;
  border-top: 1px solid #333;
  padding-bottom: var(--ion-safe-area-bottom);
}

.input-container {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  ion-input {
    --background: #2a2a2a;
    --color: #fff;
    border-radius: 20px;
    margin-right: 8px;

  }

  .native-input.sc-ion-input-ios {
    padding-left: 10px !important;
  }
}



.list-ios {
  background: black;
}

ion-content {
  --background: var(--light-black);
  --color: white;
}

ion-item {
  --background: var(--light-black);
  --color: white;
  --border-color: #222;

  h3 {
    color: white !important;
    font-weight: 600;
  }

  p {
    color: #b0b0b0 !important;
  }
}

ion-list {
  background: transparent !important;
  padding: 0;
}
