
.empty {
  padding-left: 10px;
  height: calc(100% - 110px);
}


ion-content {
  --background: var(--light-black);
  --color: white;

}


.reels-comments {

  width: 100%;

  ion-item {
    --background: transparent;
    --color: white;
    --border-color: #222;
    width: 100%;

    div {
      color: white !important;
      font-weight: 600;
      margin-bottom: 3px;
    }

    p {
      color: #b0b0b0 !important;
    }
  }
}


ion-list {
  background: transparent !important;
  padding: 0;
}

.send {
  display: block;
  --background: var(--grey);
  --background-activated: #a4a3a2;
  --background-hover: #7f7d7d;
  --color: #ffffff;
  --min-height: 20px !important;
  --font-size: 20px !important;
  width: 28px !important;
  height: 28px !important;
  min-height: 28px;
  --width: 28px;
  --height: 28px;
  --border-radius: 50%;

  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  &::part(native) {
    width: 28px !important;
    height: 28px !important;
    min-height: 28px !important;
    padding: 0 !important;
    border-radius: 50% !important;
  }

  ion-icon {
    font-size: 16px; /* Icon must be smaller than the button */
  }
}


ion-footer {
  background: var(--light-black);
  padding-bottom: var(--ion-safe-area-bottom);
}

.input-toolbar {
  --background: var(--light-black);
  --padding-top: 8px;
  --padding-bottom: 8px;

  --min-height: auto;
}

ion-button {
  --color: white;
}

ion-icon {
  --color: white
}


.comment-input {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-top: 10px;
  color: white;
  font-size: 16px;
  height: auto;
  flex: 1;
}


.input-container {
  display: flex;
  align-items: center;
  background: #2a2a2a;
  border-radius: 24px;
  margin: 0 8px;
  padding: 0 4px 0 12px;
  //min-height: 45px;
  flex-grow: 1;
  gap: 8px;

}

.comments-content.desctop {
  height: calc(100% - 110px);
  --background: transparent;
    scrollbar-width: thin;
    border-radius: 10px;
    scrollbar-color: #585c62 #a1a1a4;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: none;
    margin: 8px;

  }

  &::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background: #a1a1a4;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #585c62;
    border-radius: 10px;
    border: 2px solid #a1a1a4;
  }
}




//
//.comments-content {

//
//}



ion-footer.desctop {
  background: transparent;
  --background: transparent;
  & .comment-input {
    max-height: 60px;
    height: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      margin: 8px;
      display: none;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px !important;
      background: #a1a1a4;
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #585c62;
      border-radius: 10px;
      border: 2px solid #a1a1a4;
    }
  }

  ion-toolbar {
    --background: transparent;
  }
}
