@let windowSize = resizeService.currensSizeOfScreen$ | async;
  <ion-header class="ion-no-border">
    <ion-toolbar color="dark" class="reels-toolbar">
      <ion-title slot="start" class="ion-text-start"
      >Комментарии {{ comments.length > 0 ? ' (' + comments.length + ')' : '' }}
      </ion-title>
      @if (windowSize < 1280) {
        <ion-buttons slot="end">
          <ion-button slot="end" (click)="dismiss()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      }

    </ion-toolbar>
  </ion-header>
  <ion-content class="comments-content reels-content" [ngClass]="{'desctop':windowSize>1280}" >

    @if (comments.length === 0) {
      <div class="empty">
        Ваш комментарий будет первым
      </div>
    } @else {


    <ion-list lines="none" class="reels-comments ">
      @for (comment of comments; track comment.id; let index = $index) {
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="comment.avatar || '/assets/avatar.svg'"/>
          </ion-avatar>

          <ion-label>
            <div>{{ comment.username }}</div>
            @if (!editMode) {
              <p>{{ comment.text }}</p>
            } @else {
              <ion-textarea
                [(ngModel)]="comment.text"
                auto-grow="true"
                class="edit-input">
              </ion-textarea>
            }

          </ion-label>
          <ion-buttons slot="end">
            @if (comment.userId === this.userId) {
              @if (!editMode) {
                <ion-button (click)="editMode = true" [disabled]="disableButton">
                  <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-button>
              } @else {
                <ion-button color="success" (click)="saveEdit(index,comment)" [disabled]="disableButton">
                  <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
                </ion-button>
                <ion-button color="medium" (click)="editMode = false">
                  <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
              }
            }
            @if (reel.userId === this.userId) {

                <ion-button (click)="deleteComment(comment, index)" [disabled]="disableButton">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>

            }
          </ion-buttons>
        </ion-item>
      }

    </ion-list>
    }

  </ion-content>
<ion-footer class="ion-no-border" [ngClass]="{'desctop':windowSize>1280}">
  <ion-toolbar class="input-toolbar">
    <div class="input-container">
      <ion-textarea
        [(ngModel)]="newCommentText"
        auto-grow="true"
        placeholder="Добавьте свой комментарий..."
        class="comment-input "
      ></ion-textarea>
      <ion-button (click)="postComment()" class="send" [disabled]="!newCommentText">
        <ion-icon slot="icon-only" name="arrow-up-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
