
ion-content {
  --background: #121212;
  --color: white;
  & ion-list {
    --background: #121212;
  }



}

#background-content{
  background-color:#121212;
  --background: #121212;
}

ion-item {
  --background: #121212;
  --color: white;
}
