<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Пользователи</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders" >
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>Заказы</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="partnerships" >
      <ion-icon name="hand-left-outline"></ion-icon>
      <ion-label>Рефераллы</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="subscribe" >
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Подписка</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cashbacks-tarifs" >
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Кэшбэк</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ad" >
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Реклама</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="promocodes" >
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Промокоды</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="articles" >
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Статьи</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="signOut()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Выйти</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
