.stories {
  &__container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 12px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__title {
    font-family: 'MiedingerBold', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.2;
    font-style: normal;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 20px 16px;
  width: 100%;
  background: #F1F2F4;

  &__button {
    cursor: pointer;
    background: white;
    border-radius: 12px;

    &:hover {
      background: #80808042;
    }
  }

  &__img {
    display: flex;
    justify-content: end;
    padding: 6px 6px 0 0;
  }

  &__title {
    font-family: 'InterMedium', sans-serif;
    font-size: 14px;
    padding: 10px 0 0 10px;
  }
}

.container-invites {
  display: grid;
  background: #F1F2F4;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  padding: 0px 16px 20px 16px;
  width: 100%;

  ion-button {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    min-height: 43px;
    height: 43px;
  }

  &__bonuses {
    position: relative;
    width: 64px;
    height: 48px;
    --background: black;
    --background-hover: #333333;
    --border-radius: 12px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    padding-left: 6px;
    color: white;
  }

  &__bonuses-invites {
    --background: #0077FF;
    --background-hover: #8FBBFA;
    position: relative;
    width: 64px;
    height: 48px;
    --border-radius: 12px;
  }

  &__title {
    color: white;
    font-family: 'InterMedium', sans-serif;
    font-size: 15px;
    padding-left: 5px;
  }
}

.button-grid ion-button {
  width: 100%;
  justify-content: center;
}

.admin-button {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  &__button {
    --background-activated: #cdcdcd;
    --background-focused: #cdcdcd;
    --background-hover: #cdcdcd;
    --border-radius: 20px;

    &::part(native):hover {
      box-shadow: 0 4px 12px rgba(56, 128, 255, 0.3);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }
  }
}

.button {
  text-align: center;
}

.button-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 72px;
  pointer-events: none;
}


ion-button {
  font-family: 'InterMedium', sans-serif;
  --background: #e1e1e1;
  --color: black;
}

ion-menu {
  --width: 100vw;
}

.menu {
  color: #22307e;
}

.menu-container {
  --background: white;
}

.header {
  font-family: 'InterMedium', sans-serif;

  &__arrow-back {
    -border-radius: unset;
    --padding-top: unset;
    --padding-bottom: unset;
    --padding-start: unset;
    --padding-end: unset;
    min-height: 150px;
    cursor: pointer;
    align-items: flex-start;
    padding-top: 10px;
  }

  &__name-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
    cursor: pointer;
  }

  &__container-forward-icon {
    border-radius: 50%;
    background: black;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow-forward-icon {
    font-size: 12px;
  }

  &__toolbar {
    --min-height: 40px;
    --background: white;
  }

  &__arrow-back-icon {
    font-size: 23px;
    color: black;
  }

  &__image-container {
    width: calc(100vw - 81px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    align-items: center;
  }

  &__name {
    color: black;
    font-weight: 600;
    font-size: 18px;
    font-family: 'InterMedium', sans-serif;
    padding-top: 10px;
  }

  &__email {
    cursor: pointer;
    color: #9e9e9e;
    font-size: 13px;
    font-family: 'InterMedium', sans-serif;
  }

  &__image {
    border-radius: 100%;
    width: 90px;
    cursor: pointer;
    margin-top: 10px;
    height: 90px;
    object-fit: cover;
    border: 1px solid #dddddd;
  }
}

.menu-container {
  font-family: 'InterRegular', sans-serif;
  background: #e1e1e1;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  &__auth {
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    justify-content: center;
  }

  &__auth-background {
    background: #22307e;
  }

  &__left {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
  }

  &__icon-arrow {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__icon-size {
    font-size: 30px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ion-content {
  height: calc(100vh - 118px);
  --background: #F1F2F4;
}

.main-toolbar {
  --background: #F1F2F4;
  --padding-start: 0px;

  &__header {
    padding: 0 12px 20px 12px;
  }
}

.menu-button {
  height: 44px;
  width: 44px;
  background: white;
  border-radius: 50%;
  --color: black;
}

.icon-user_add {
  color: white;
  padding-left: 8px;
}
