:host {
  //padding-left: 250px;
  //padding-right: 250px;
}

.stories {
  &__container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge (устаревшее, но для поддержки) */
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

    /* Скрываем скроллбар в WebKit (Chrome, Safari, новые Edge) */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__title {
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    color: #22307e;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding: 7px;
    font-size: 15px;
    width: calc(100vw - 82px);
  }
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; /* расстояние между кнопками по горизонтали и вертикали */
  padding: 30px 35px 5px 35px;
  width: 100%;
}

.container-invites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px 10px;
  width: 100%;

  ion-button {
    --background: linear-gradient(135deg, #141b4d 0%, #22307e 50%, #5168ff 100%);
    --background-hover: unset;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  &__invites {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__invite-icon {
    font-size: 15px;
  }

  &__icon {
    position: relative;
    width: 64px;
    height: 48px;

    --background-activated: #cdcdcd;
    --background-focused: #cdcdcd;
    --background-hover: #cdcdcd;
    --border-radius: 20px;

    &::part(native):hover {
      box-shadow: 0 4px 12px rgba(56, 128, 255, 0.3);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }

    &::part(native) {
      overflow: visible;
    }
  }

  &__title {
    color: white;
    font-family: 'Roboto Flex';
    font-size: 14px;
    padding-left: 5px;
  }

  &__number {
    color: white;
    font-family: 'Roboto Flex';
    font-size: 17px;
    padding-left: 5px;
    font-weight: bold;
  }
}

.button-grid ion-button {
  width: 100%;
  justify-content: center;
}

.admin-button {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  &__button {
    --background-activated: #cdcdcd;
    --background-focused: #cdcdcd;
    --background-hover: #cdcdcd;
    --border-radius: 20px;

    &::part(native):hover {
      box-shadow: 0 4px 12px rgba(56, 128, 255, 0.3);
      transform: scale(1.02);
      transition: all 0.2s ease;
    }
  }
}

.button {
  text-align: center;
}

.icon-button {
  position: relative;
  height: 48px;
  width: 100%;
  border-radius: 20px;
  background: #e1e1e1;
  cursor: pointer;

  --background-activated: #cdcdcd;
  --background-focused: #cdcdcd;
  --background-hover: #cdcdcd;
  --border-radius: 20px;

  &:hover {
    box-shadow: 0 4px 12px rgba(56, 128, 255, 0.3);
    transform: scale(1.02);
    transition: all 0.2s ease;
  }

  &::part(native) {
    overflow: visible;
  }
}

.button-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 72px;
  pointer-events: none;
}


ion-button {
  font-family: 'Roboto Flex';
  --background: #e1e1e1;
  --color: black;
}

ion-menu {
  --width: 100vw;
}

.menu {
  color: #22307e;
}

.header {
  font-family: 'Roboto Flex';

  &__arrow-back {
    -border-radius: unset;
    --padding-top: unset;
    --padding-bottom: unset;
    --padding-start: unset;
    --padding-end: unset;
    min-height: 150px;
    cursor: pointer;
    align-items: flex-start;
    padding-top: 10px;
  }

  &__name-container {
    display: flex;
    align-items: baseline;
    gap: 5px;
    cursor: pointer;
  }

  &__container-forward-icon {
    border-radius: 50%;
    background: black;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow-forward-icon {
    font-size: 12px;
  }

  &__toolbar {
    --min-height: 40px;
    --background: white;
  }

  &__arrow-back-icon {
    font-size: 23px;
    color: black;
  }

  &__image-container {
    width: calc(100vw - 81px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    align-items: center;
  }

  &__name {
    color: black;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto Flex';
    padding-top: 10px;
  }

  &__email {
    cursor: pointer;
    color: #9e9e9e;
    font-size: 13px;
    font-family: 'Roboto Flex';
  }

  &__image {
    border-radius: 100%;
    width: 90px;
    cursor: pointer;
    margin-top: 10px;
    height: 90px;
    object-fit: cover;
    border: 1px solid #dddddd;
  }
}

.menu-container {
  font-family: 'Roboto Flex';
  background: #e1e1e1;
  height: 60px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  &__auth {
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    justify-content: center;
  }

  &__auth-background {
    background: #22307e;
  }

  &__left {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
  }

  &__icon-arrow {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__icon-size {
    font-size: 30px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ion-content {
  height: calc(100vh - 118px);
}

.main-toolbar {
  --background: #fff;
  --padding-start: 0px;
  --padding-end: 0px;
}

.menu-button {
  --color: #22307e;
}
