<ion-menu contentId="main-content" [swipeGesture]="false" [side]="'end'">
  <ion-header>
    <ion-toolbar class="header__toolbar">
      <ion-buttons class="header__arrow-back" slot="start" (click)="closeMenu()">
      <span class="material-symbols-outlined header__arrow-back-icon">
        arrow_back_ios
      </span>
      </ion-buttons>
      <div class="header__image-container">
        @if (isAuth) {
          @if (user?.photo?.length) {
            <img class="header__image" (click)="navigateProfile()" slot="secondary" [src]="user?.photo[0]"/>
          } @else {
            <img class="header__image" (click)="navigateProfile()" slot="secondary" src="../../../assets/profile/empty-photo.png"/>
          }
          <div class="header__name-container" (click)="navigateProfile()">
            <div class="header__name">{{ user?.fio }}</div>
            <div class="header__container-forward-icon">
            <span class="material-symbols-outlined header__arrow-forward-icon">
              arrow_forward_ios
            </span>
            </div>
          </div>
          <div class="header__email" (click)="navigateProfile()">{{user?.email}}</div>
        } @else {
          <img class="header__image" (click)="navigateProfile()" slot="secondary" src="../../../assets/profile/empty-photo.png"/>
        }
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding menu-container">
    @if (!isAuth) {
      <div class="menu-container menu-container__auth-background" (click)="navigateAuth()">
        <div class="menu-container__auth">
          Авторизация
        </div>
      </div>
    }
    <div class="menu-container" (click)="navigateSubscribe()">
      <div class="menu-container__item">
        <div class="menu-container__left">
          <span class="material-symbols-outlined menu-container__icon-size">paid</span>
          <span>Подписка</span>
        </div>
        <div class="material-symbols-outlined menu-container__icon-arrow">arrow_forward_ios</div>
      </div>
    </div>
    <div class="menu-container" (click)="navigateFaq()">
      <div class="menu-container__item">
        <div class="menu-container__left">
          <span class="material-symbols-outlined menu-container__icon-size">help_center</span>
          <span>Вопрос-ответ</span>
        </div>
        <div class="material-symbols-outlined menu-container__icon-arrow">arrow_forward_ios</div>
      </div>
    </div>
    <div class="menu-container" (click)="navigateDocuments()">
      <div class="menu-container__item">
        <div class="menu-container__left">
          <span class="material-symbols-outlined menu-container__icon-size">list_alt</span>
          <span>Прочее</span>
        </div>
        <div class="material-symbols-outlined menu-container__icon-arrow">arrow_forward_ios</div>
      </div>
    </div>
    <div class="menu-container" (click)="navigateContacts()">
      <div class="menu-container__item">
        <div class="menu-container__left">
          <span class="material-symbols-outlined menu-container__icon-size">info</span>
          <span>Контакты</span>
        </div>
        <div class="material-symbols-outlined menu-container__icon-arrow">arrow_forward_ios</div>
      </div>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="main-toolbar">
      <ion-buttons class="main-toolbar__header">
        <ion-menu-button class="menu-button"></ion-menu-button>
        <div class="stories__title">TODOTODO</div>
      </ion-buttons>
      <div class="stories">
        <div class="stories__container">
          <app-story-avatar
            [storyCount]="4"
            [avatarUrl]="isAuth && user?.photo?.length ? user?.photo[0] : null"
            [gapDeg]="13"
            [addStory]="true"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="4"
            [gapDeg]="13"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="3"
            [gapDeg]="13"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="6"
            [gapDeg]="13"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="15"
            [gapDeg]="13"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="1"
            [gapDeg]="13"
          ></app-story-avatar>
          <app-story-avatar
            [avatarUrl]="'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'"
            [storyCount]="9"
            [gapDeg]="13"
          ></app-story-avatar>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="button-grid">
      <div class="button-grid__button" (click)="navigateWork()">
        <div class="button-grid__title">Работа</div>
        <div class="button-grid__img">
          <img src="assets/main/work.svg"/>
        </div>
      </div>
      <div class="button-grid__button" (click)="openEducation()">
        <div class="button-grid__title">Обучение</div>
        <div class="button-grid__img">
          <img src="assets/main/books.svg"/>
        </div>
      </div>
      <div class="button-grid__button" (click)="navigateLeads()">
        <div class="button-grid__title">Лиды</div>
        <div class="button-grid__img">
          <img src="assets/main/reels.svg"/>
        </div>
      </div>
      <div class="button-grid__button" (click)="openReels()">
        <div class="button-grid__title">Лента</div>
        <div class="button-grid__img">
          <img src="assets/main/lenta.svg"/>
        </div>
      </div>
      <div class="button-grid__button">
        <div class="button-grid__title">Поставщики</div>
        <div class="button-grid__img">
          <img src="assets/main/supplier.svg"/>
        </div>
      </div>
      <div class="button-grid__button">
        <div class="button-grid__title">Расчет окон</div>
        <div class="button-grid__img">
          <img src="assets/main/window.svg"/>
        </div>
      </div>
    </div>
    <div class="container-invites">
      <ion-button class="container-invites__bonuses" (click)="openBonuses()">
        <span class="container-invites__title">Мои бонусы</span>
        <span class="container-invites__title">{{ this.user?.cashback || 0 }} ₽</span>
      </ion-button>
      <ion-button class="container-invites__bonuses-invites" (click)="navigatePartner()">
        <span class="container-invites__invites">
        </span>
        <span class="container-invites__title">Пригласить</span>
        <div class="ic icon-user_add"></div>
      </ion-button>
    </div>
    <app-address-chats-list></app-address-chats-list>
  </ion-content>
</div>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Необходима авторизация"
  message="Для получения полной информации пройдите авторизацию."
  [buttons]="alertButtons"
  (didDismiss)="didDismiss()"
></ion-alert>
