@use "../../../../theme/todo-theme";

.header__title {
  padding-inline-start: 90px;
}

ion-card {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px -1px #0000001a,
    0 2px 4px -2px #0000001a;
  }
}

ion-card-content {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card {
  border: 1px solid #00000040;
  box-shadow: unset;

  &__content {
    display: flex;
    gap: 15px;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5;
    color: black;
  }

  &__text {
    color: oklch(.551 .027 264.364);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    min-width: 0;
    padding-right: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__new-message {
    border-left: 4px solid #22307e;
  }

  &__location {
    width: 48px;
    flex-shrink: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8eaf6;
    border-radius: 50%;
  }

  &__location-icon {
    color: var(--main);
    font-size: 30px;
  }

  &__forward-icon {
    color: oklch(.707 .022 261.325);
    font-size: 17px;
  }

  &__information {
    width: 100%;
  }

  &__not-read {
    width: 13px;
    height: 13px;
    background: var(--main);
    border-radius: 50%;
  }

  &__container-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__container-button-text {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 24px;
  }

  &__time {
    color: oklch(.551 .027 264.364);
    font-size: 16px;
    font-family: 'Roboto Flex';
  }
}
