.submit-button {
  --background: var(--grey);
  --background-activated: #a4a3a2;
  --background-hover: #7f7d7d;
  --color: #ffffff;

  --border-radius: 12px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  height: 54px;

  font-weight: 600;
  text-transform: none;
  font-size: 16px;
  margin: 20px 0;
}

.submit-button::part(native) {
  box-shadow: 0 4px 15px rgba(150, 147, 146, 0.3);
  transition: transform 0.1s ease-in-out;
}

.submit-button:active::part(native) {
  transform: scale(0.98);
}

ion-content, ion-header, ion-radio-group, ion-list, ion-item.custom-radio-item, ion-toolbar  {
  --background: var(--bg-grey);
}
