@use "../../../../theme/todo-theme";

.header__title {
  padding-inline-start: 90px;
}

ion-segment {
  margin: 20px;
  width: unset;
}

ion-segment-view {
  height: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 7px;

  &__icon {
    font-size: 20px;
  }

  &__count {
    width: 22px;
    height: 22px;
    background: oklch(.95 .0058 264.53);
    border-radius: 5px;
  }
}

ion-card {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px -1px #0000001a,
    0 2px 4px -2px #0000001a;
  }
}

ion-card-content {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card {
  border: 1px solid #00000040;
  box-shadow: unset;

  &__content {
    display: flex;
    gap: 15px;
  }

  &__street {
    font-size: 1.125rem;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5;
    color: black;
  }

  &__city {
    color: oklch(.551 .027 264.364);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  &__chat-statistics {
    display: flex;
    padding-top: 10px;
    gap: 7px;
    flex-wrap: wrap;
  }

  &__chat-count {
    color: oklch(.446 .03 256.802);
  }

  &__chat-icon-count {
    color: oklch(.446 .03 256.802);
    font-size: 17px;
  }

  &__container-count {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  &__not-read {
    --background: var(--main);
    opacity: unset;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 7px;
  }

  &__not-read-icon {
    font-size: 17px;
  }

  &__not-read-text {
    font-size: 14px;
  }

  &__new-message {
    border-left: 4px solid #22307e;
  }

  &__location {
    width: 48px;
    flex-shrink: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8eaf6;
    border-radius: 50%;
  }

  &__location-icon {
    color: var(--main);
    font-size: 30px;
  }

  &__forward-icon {
    color: oklch(.707 .022 261.325);
    font-size: 19px;
  }

  &__information {
    width: 100%;
  }

  &__container-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__type-order {
    background-color: rgb(227, 242, 253);
    color: rgb(21, 101, 192);
    border: 1px solid rgb(187, 222, 251);
    opacity: 1;
    font-size: 14px;
  }
}

.images-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
  margin-bottom: 4px;
}

.images-group__image {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 8px;
  cursor: zoom-in;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}
