@use "../../../../theme/todo-theme";

.container {
  background: white;
  border-radius: 30px;
}

ion-segment-button {
  font-family: 'InterMedium', sans-serif;
  padding-bottom: 12px;
  border-bottom: 2px solid #EBEBEB;
  color: #828286;
  font-size: 15px;
  padding-top: 12px;
  background: white;

  --border-radius: unset;
  --border-width: unset;
  --border-color: unset;
  --border-style: unset;
  --indicator-box-shadow: unset;
  --indicator-color: unset;
  margin-bottom: unset;
  margin-top: unset;
}

.segment-active {
  border-bottom: 2px solid #0077FF;
  color: #0077FF;
}

.header__title {
  padding-inline-start: 90px;
}

ion-segment {
  margin: 0 16px 12px 16px;
  width: unset;
}

ion-segment-view {
  height: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 7px;

  &__count {
    height: 22px;
    border-radius: 5px;
  }
}

ion-card {
  margin-inline-start: 16px;
  margin-inline-end: 16px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

ion-card-content {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  border-bottom: 1px solid #EBEBEB;
  box-shadow: unset;
  border-radius: unset;
  padding: 0 10px;

  &:hover {
    background: #80808042;
    border-radius: 12px;
  }

  &__container {
    display: flex;
  }

  &__content {
    display: flex;
    gap: 12px;
    width: 100%;
  }

  &__street {
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'InterMedium', sans-serif;
    line-height: 1.3;
    color: black;
  }

  &__city {
    font-family: 'InterRegular', sans-serif;
    font-size: 14px;
    padding-top: 2px;
    font-weight: 400;
    color: black;
    line-height: 1.3;
  }

  &__chat-statistics {
    display: flex;
    padding-top: 2px;
    gap: 7px;
    flex-wrap: wrap;
  }

  &__chat-count {
    color: #828286;
    font-family: 'InterRegular', sans-serif;
    font-size: 14px;
    line-height: 1.3;
  }

  &__chat-orderType {
    color: #828286;
    font-family: 'InterMedium', sans-serif;
    font-size: 14px;
    line-height: 1.3;
  }

  &__container-count {
    display: flex;
    gap: 7px;
    align-items: center;
  }

  &__not-read {
    background: #0077FF;
    color: white;
    height: 22px;
    padding: 0 10px 0 10px;
    border-radius: 60px;
  }

  &__not-read-container {
    display: flex;
    align-items: center;
  }

  &__not-read-text {
    font-family: 'InterRegular', sans-serif;
    font-size: 14px;
  }

  &__location {
    width: 48px;
    flex-shrink: 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8eaf6;
    border-radius: 50%;
  }

  &__location-icon {
    color: #0077FF;
    font-size: 30px;
  }

  &__information {
    width: 100%;
  }
}
