<ion-header>
  <ion-toolbar class="my-toolbar">
    <ion-buttons slot="start" class="profile-detail-toolbar-button">
      <ion-back-button icon="chevron-back-outline" color="dark" text=""  [defaultHref]="'profile-store/' + id"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left my-toolbar-title">{{ user?.nameFactory ?? 'Магазин' }}</ion-title>
    <ion-buttons slot="end">
      <img *ngIf="!user?.photo" class="toolbar-no-photo" src="../../../../assets/no-avatar.svg"/>
      <img *ngIf="user?.photo" class="toolbar-no-photo" [src]="user?.photo"/>
    </ion-buttons>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container>
    <ion-list lines="none">
      <div class="container-product">
      <ion-card *ngFor="let product of products" (click)="routeDetails(product.id)">
        <img *ngIf="product?.photo" [src]="product?.photo"/>
        <img *ngIf="!product?.photo" src="../../../../assets/no-image.svg"/>

        <ion-card-header>
          <ion-label class="price" *ngIf="!product?.discount">{{ product?.price }} <ion-label class="rubles">₽</ion-label></ion-label>
          <ion-label class="price red" *ngIf="product?.discount">{{ getPriceWithDiscount(product.price, product.discount) }} <ion-label class="rubles red">₽</ion-label></ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle class="text">{{ product?.name }}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      </div>
    </ion-list>
    <ng-container *ngIf="!products.length && !loading">
      <div class="no-data-message">
        <p>Товары отсутствуют</p>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
<ion-footer class="footer">
<!--  <ion-button *ngIf="hideButton"-->
<!--    class="button-connect"-->
<!--    (click)="openChat()"-->
<!--  >Написать-->
<!--  </ion-button>-->
<!--  <ion-button-->
<!--    (click)="shareContent()"-->
<!--    class="button-connect">-->
<!--    Поделиться-->
<!--  </ion-button>-->
</ion-footer>
