<ion-header>
  <ion-toolbar class="profile-toolbar">
    <ion-buttons slot="start" class="profile-detail-toolbar-button">
      <ion-back-button icon="chevron-back-outline" color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left profile-toolbar-title">{{ watch ? 'Отзывы' : 'Общая оценка' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="item$ | async as item">
    <div class="rating-container" *ngIf="!watch">
      <b>Общая оценка</b>
      <div class="rating-stars">
        <ng-container *ngFor="let star of stars; let i = index">
          <ion-icon
            *ngIf="star.full"
            name="star"
            color="warning"
            class="star-icon">
          </ion-icon>
          <ion-icon
            *ngIf="star.half"
            name="star-half"
            color="warning"
            class="star-icon">
          </ion-icon>
          <ion-icon
            *ngIf="!star.full && !star.half"
            name="star-outline"
            color="medium"
            class="star-icon">
          </ion-icon>
        </ng-container>
      </div>
    </div>
    <ion-list [ngClass]="{'height100': noFeedbacks && watch === undefined, 'height83': noFeedbacks && watch !== undefined}">
      <ng-container *ngIf="feedback?.length > 0; else noFeedbacks">
        <div class="container-feedbacks">
          <ng-container *ngFor="let feedbackItem of feedback">
            <!-- Отображать только если есть like или dislike -->
            <div *ngIf="feedbackItem.checks === 'like' || feedbackItem.checks === 'dislike'"
                 class="container-feedbacks__item">
              <ion-card class="feedback-card">
                <ion-card-header>
                  <div class="feedback-header">
                    <div class="feedback-author-info">
                      <b>{{ feedbackItem.authorName }}</b>
                      <p *ngIf="feedbackItem?.role">Тип пользователя: {{ feedbackItem.role }}</p>
                    </div>
                    <div class="feedback-like-dislike">
                      <img *ngIf="feedbackItem.checks === 'like'" src="assets/like.svg" alt="Like"/>
                      <img *ngIf="feedbackItem.checks === 'dislike'" src="assets/dislike.svg" alt="Dislike"/>
                    </div>
                  </div>
                </ion-card-header>

                <ion-card-content>
                  <p *ngIf="feedbackItem?.type"><strong>Тип заказа:</strong> {{ feedbackItem.type }}</p>
                  <p><strong>Отзыв:</strong></p>
                  <p class="feedback-comment">{{ feedbackItem.comment }}</p>
                  <p class="feedback-date">
                    <ion-icon name="calendar-outline"></ion-icon>
                    {{ feedbackItem.date | date:'mediumDate' }}
                  </p>
                </ion-card-content>
              </ion-card>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #noFeedbacks>
        <div class="no-data-message">
          <p>Отзывы отсутствуют</p>
        </div>
      </ng-template>
    </ion-list>
  </ng-container>
</ion-content>
