<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Редактирование статьи</ion-title>
    <ion-button class="edit" slot="end" color="tertiary" (click)="preview()">
      <ion-icon slot="start" name="eye-outline"></ion-icon>
      Предпросмотр статьи
    </ion-button>
    <ion-button slot="end" class="edit" color="tertiary" (click)="save()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Сохранить
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="article$ | async as article; else loading">
  <ion-item>
    <ion-input
      label="Название статьи"
      labelPlacement="stacked"
      [(ngModel)]="title"
      placeholder="Введите название статьи"
    ></ion-input>
  </ion-item>
  <div class="create-article">
    <jodit-editor #editor [config]="config"></jodit-editor>
  </div>
</ion-content>
<ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-template>
